<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--reminder to link the files-->
        <link rel="stylesheet" href="{{ url_for('static', filename = '')}}">
        <title>Add Personnel</title>
    </head>
     <body>
         <section>
            <div class="contentBox">
                <div class="formBox">
                    <h2>Addpersonnel</h2>
                    <form action= "/addpersonnel" method="POST">
                        <div class="inputBox">
                            <span>Username</span>
                            <input type="text" name="username">
                        </div>
                        <div class="inputBox">
                            <span>Password</span>
                            <input type="password" name="password">
                            <div class="inputBox">
                                <span>Name</span>
                                <input type="text" name="name">
                            </div>
                            <div class="inputBox">
                                <span>Phone Number</span>
                                <input type="text" name="phone number">
                                <button class="button">Add Coach</button>
                    </form>
                </div>
            </div>    









         </section>
     </body>    












</html>