{% extends "index.html" %}
{% block title %}Update{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert">
            <div class="error">
                <span class="alertClose">X</span>
                <span class="alertText"> {{ message }}
                    <br class="clear"/></span>
            </div>
        </div>
      </label>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div class="update">
    <div class="updatename">
<form action= "/login/session/list/update/{{session[2]}}" method="POST">
    <div class="inputBox">
        <span>Session Name</span><br>
        <input type="text" name="sessionname" value="{{session[1]}}">
    </div>
    <br>
    <div class="inputBox">
        <span>Session Duration</span><br>
        <input type="number" name="duration" value="{{session[0]}}"><br>
    </div>
    <br>
    <div class="inputBox">
        <span>Session Date</span><br>
        <input type="date" name="session_date" value="{{session[4]}}><br>
    </div>
    <br>
    <div class="inputBox">
        <input type="submit" value="Update Session">
    </div>
 </form>
    </div>
 </div>
{% endblock content %} 