<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>TEAMS</h2>
        <ul>
            <li><a class="link" href="profile">Profile</a></li>
            <li><a class="link" href="addpersonnel">Personnel</a></li>
            <li><a class="link" href="unit">Units</a></li>
            <li><a class="link" href="drills">Drills</a></li>
            <li><a class="link" href="session">Session</a></li>
            <li><a class="link" href="addtrainingdata">Training Data</a></li>
            <li><a class="link" href="calendar">Calendar</a></li>
            <li><a class="link" href=""></a>Reports</li>
            <li><a class="link" href="collection">Collection</a></li>
            <li><a class="link" href="logout">Logout</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}{% endblock content %} 
    </div>
    
</div>
<script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
<script type="text/javascript">
   function ShowHideDiv() {
    var purpose = document.getElementById("purpose");
    var physical = document.getElementById("physical");
    var mental = document.getElementById("mental");
    var technical = document.getElementById("technical");
    physical.style.display = purpose.value == "P" ? "block" : "none";
    mental.style.display = purpose.value == "M" ? "block" : "none";
    technical.style.display = purpose.value == "T" ? "block" : "none";
}
</script>
</body>
</html>


