<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
<div class="wrapper">
    <div class="sidebar">
        <h2>TEAMS</h2>
        <ul>
            <li><a class="link" href="profile">Profile</a></li>
            <li><a class="link" href="addpersonnel">Personnel</a></li>
            <li><a class="link" href="unit">Units</a></li>
            <li><a class="link" href=""></a>Session</li>
            <li><a class="link" href=""></a>Drills</li>
            <li><a class="link" href=""></a>Training Data</li>
            <li><a class="link" href=""></a>Calendar</li>
            <li><a class="link" href=""></a>Athlete Profile</li>
             <li><a class="link" href=""></a>Reports</li>
            <li><a class="link" href=""></a>Collection</li>
            <li><a class="link" href="logout">Logout</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}{% endblock content %} 
    </div>
    
</div> 
</body>
</html>