<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/layout_styles.css')}}">
    <title>Teams</title>
</head>
<body>
    
<div class="wrapper">
    <div class="sidebar">
        <h2>TEAMS</h2>
        <ul>
            <li><a href="#"></a>Profile</li>
            <li><a href="#"></a>Units</li>
            <li><a href="#"></a>Athlete Profile</li>
            <li><a href="#"></a>Calendar</li>
            <li><a href="#"></a>Athlete Reports</li>
            <li><a href="#"></a>Personnel</li>
            <li><a href="#"></a>Session</li>
            <li><a href="#"></a>Drills</li>
            <li><a href="#"></a>Collection</li>
            <li><a href="#"></a>Logout</li>
        </ul>
    </div>
</div>

</body>
</html>