<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---insert linking syntax here-->
    <title>TEAMS</title>
</head>
<body>
    <header>
        <div class="mylogo">
            <img src="{{url_for('static',filename = 'images/Teams Logo.jpg' )}}" width="50" height="50" alt="teams' logo">

        </div>
        <div>
            <form class="myform" action="/login" method="POST">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="Your email.."><br>
                <label for="password">Password</label>
                <input type="text" name="password" placeholder="Your password.."><br>
                <input type="submit" value="Login">


            
            
            </form>
        </div>
    </header>


</body>



</head>



















</html>