{% extends "index.html" %}
{% block title %}Personnel{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert">
            <div class="error">
                <span class="alertClose">X</span>
                <span class="alertText"> {{ message }}
                    <br class="clear"/></span>
            </div>
        </div>
      </label>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div class="personnel">
    <div class="split left">
        <h1>Coach</h1>
        <div class="coach">
            <form action= "/login/addpersonnel" method="POST">
                <div class="inputBox">
                    <span>Coach ID</span><br>
                    <input type="text" name="coachid" placeholder="Written as C01">
                </div>
                <br>
                <div class="inputBox">
                    <span>Username</span><br>
                    <input type="text" name="username" >
                </div>
                <br>
                <div class="inputBox">
                    <span>Password</span><br>
                    <input type="password" name="password" >
                </div>
                <br>
                <div class="inputBox">
                    <span>Email</span><br>
                    <input type="email" name="email" >
                </div>
                <br>
                <div class="inputBox">
                    <span>Name</span><br>
                    <input type="text" name="name">
                </div>
                <br>
                <div class="inputBox">
                    <span>Phone Number</span><br>
                    <input type="text" name="phone_number"><br>
                </div>
                <br>
                <div class="inputBox">
                    <input type="submit" value="Add Coach">
                </div>
             </form>
        </div>
    </div>
    <div class="split right">
        <h1>Player</h1>
        <div class="coach">
            <form action= "/login/addpersonnel/athletes" method="POST">
                <div class="inputBox">
                    <span>Athlete ID</span><br>
                    <input type="text" name="athleteid" placeholder="Written like AO1">
                </div>
                <br>
                <div class="inputBox">
                    <span>Name</span><br>
                    <input type="text" name="athlete_name">
                </div>
                <br>
                <div class="inputBox">
                    <span>Phone Number</span><br>
                    <input type="text" name="athlete_phone_number">
                </div>
                <br>
                <div class="inputBox">
                    <span>Date of Birth</span><br>
                    <input type="date" name="date_birth">
                </div>
                <br>
                <div class="inputBox">
                    <span>Position</span><br>
                    <input type="text" name="position">
                </div>
                <br>
                <div class="inputBox">
                    <span>Preferred Foot</span><br>
                    <input type="text" name="pref_foot"><br>
                </div>
                <br>
                <div class="inputBox">
                    <input type="submit" value="Add Player">
                </div>    
             </form>
             </div>
        </div>
    </div>
</div>
{% endblock content %} 
