{% extends "index.html" %}
{% block title %}Units{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert">
            <div class="error">
                <span class="alertClose">X</span>
                <span class="alertText"> {{ message }}
                    <br class="clear"/></span>
            </div>
        </div>
      </label>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div class="table"> 
<table class="content-table">
    <thead>
      <tr>
        <td> Unit ID</td>
        <td>Unit Name</td>
        <td>Athlete Name</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      {% for data in player %}
      <tr>
<td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[4]}}</td>
        <td width="130">
            <a href="/login/unit/player/list/delete/{{data[2]}}">Remove</a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="inputBox">
    <li><a class="link" href="{{ url_for('unit') }}">Go back</a></li>
</div> 
  </div>
  {% endblock content %} 