{% extends "index.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert">
            <div class="error">
                <span class="alertClose">X</span>
                <span class="alertText"> {{ message }}
                    <br class="clear"/></span>
            </div>
        </div>
      </label>
    {% endfor %}
    {% endif %}
    {% endwith %}
<section class="profile">
    <div class="profileBox">
        <div class="formBox">
            <form action="/login/profile" method="POST">
                <br>
                <br>
             <div class="inputBox">
                 <span>Username</span>
                 <input type="text" name="username" value="{{account['username']}}">
             </div><br>
             <div class="inputBox">
                 <span>Password</span>
                 <input type="password" name="password" value="{{account['password']}}">
             </div><br>
             <div class="inputBox">
                 <span>Email</span>
                 <input type="email" name="email" value="{{account['email']}}">
             </div><br>
             <div class="inputBox">
                <span>Coach Name</span>
                <input type="text" name="coach-name" value="{{account['coach_name']}}">
            </div><br>
            <div class="inputBox">
                <span>Phone Number</span>
                <input type="phone-number" name="phone-number" value="{{account['phone_number']}}">
            </div><br>
             <div class="inputBox">
                 <input type="submit" value="Update">
             </div>
         </form>
     </div>
    </div>      
</section> 
{% endblock content %} 