{% extends "index.html" %}
{% block title %}Reports{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert">
            <div class="error">
                <span class="alertClose">X</span>
                <span class="alertText"> {{ message }}
                    <br class="clear"/></span>
            </div>
        </div>
      </label>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div class="table"> 
<table class="content-table">
    <caption>REPORTS</caption>
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Position</td>
        <td>Preferred Foot</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      {% for data in report %}
      <tr>
<td>{{data[0]}}</td>
        <td>{{data[5]}}</td>
        <td>{{data[3]}}</td>
        <td>{{data[4]}}</td>
        <td width="130">
          <a href="/login/reports/view/{{data[0]}}" >View Reports</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% endblock content %} 