{% extends "index.html" %}
{% block title %}Units{% endblock %}
{% block content %}
<div class="unit">
    <h1>Unit</h1>
    <div class="units split left">
        <div class="unit-name">
            <form action= "/login/unit" method="POST">
                <div class="inputBox">
                    <span>Unit Name</span><br>
                    <input type="text" name="unit_name">
                </div>
                <br>
                <div class="inputBox">
                    <span>Unit Number</span><br>
                    <input type="number" name="id"><br>
                </div>
                <br>
                <div class="inputBox">
                    <span>Choose Coach</span><br>
                    <SELECT name="coach_name" class="select">
                        {% for c in coachList %}
                            <OPTION value={{c[0]}}>{{c[1]}}</OPTION>
                        {% endfor %}
                    </SELECT>
                </div>
                <br>
                <br>
                <div class="inputBox">
                    <input type="submit" value="Create Unit">
                </div>
             </form>
        </div>
    </div>
    <div class="units split right">
        <div class="unit-name">
            <form action= "/login/unit" method="POST">
                <div class="inputBox">
                    <span>Phone Number</span><br>
                    <input type="text" name="athlete_phone_number">
                </div>
                <br>
                <div class="inputBox">
                    <span>Choose Athletes</span><br>
                    <SELECT name="athlete" class="select">
                        {% for a in athleteList %}
                            <OPTION value={{a[0]}}>{{a[1]}}</OPTION>
                        {% endfor %}
                    </SELECT>
                </div>
                <br>
                <div class="inputBox">
                    <input type="submit" value="Add Player">
                </div>    
             </form>
        </div>
    </div>
</div>
    
{% endblock content %} 