{% extends "index.html" %}
{% block title %}Units{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert">
            <div class="error">
                <span class="alertClose">X</span>
                <span class="alertText"> {{ message }}
                    <br class="clear"/></span>
            </div>
        </div>
      </label>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div class="unit">
    <h1>Unit</h1>
    <div class="units split left">
        <div class="unit-name">
            <form action= "/login/unit" method="POST">
                <div class="inputBox">
                    <span>Unit Name</span><br>
                    <input type="text" name="unit_name">
                </div>
                <br>
                <div class="inputBox">
                    <span>Unit Number</span><br>
                    <input type="text" name="id" placeholder="Wriiten as UO1"><br>
                </div>
                <br>
                <div class="inputBox">
                    <span>Choose Coach</span><br>
                    <SELECT name="coach_name" class="select">
                        {% for i in usersList %}
                            <OPTION value={{i[0]}}>{{i[2]}}</OPTION>
                        {% endfor %}
                    </SELECT>
                </div>
                <br>
                <div class="inputBox">
                    <input type="submit" value="Create Unit">
                </div>
             </form>
        </div>
    </div>
    <div class="units split right">
        <div class="unit-name">
            <form action= "/login/unit/player" method="POST">
                <div class="inputBox">
                    <span>Choose Units</span><br>
                    <SELECT name="unit" class="select">
                        {% for u in unitList %}
                            <OPTION value={{u[1]}}>{{u[0]}}</OPTION>
                        {% endfor %}
                    </SELECT>
                </div>
                <br>
                <div class="inputBox">
                    <span>Add Athletes</span><br>
                    <SELECT name="athlete" class="select">
                        {% for a in athleteList %}
                            <OPTION value={{a[0]}}>{{a[5]}}</OPTION>
                        {% endfor %}
                    </SELECT>
                </div>
                <br>
                <div class="inputBox">
                    <input type="submit" value="Add Players">
                </div>    
             </form>
        </div>
    </div>
</div>
    
{% endblock content %} 