{% extends "index.html" %}
{% block title %}Drills{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert">
            <div class="error">
                <span class="alertClose">X</span>
                <span class="alertText"> {{ message }}
                    <br class="clear"/></span>
            </div>
        </div>
      </label>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div class="drill">
    <h1>Drills</h1>
    {% for data in drill %}
     <div class="drills split left">
         <div class="drill-name">
                    <div class="inputBox">
                        <span>Coach ID</span><br>
                        <input type="text" name="drillid" value="{{data[0]}}">
                    </div>
                     <br>
                    <div class="inputBox">
                        <span>Drill Name</span><br>
                        <input type="text" name="drill_name" value="{{data[1]}}">
                    </div>
                    <br>
                    <div class="inputBox">
                        <span>Choose Category</span><br>
                        <input type="text" name="drill_name" value="{{data[5]}}">
                     </div>
                    <br>
                    <div class="inputBox">
                        <li><a class="link" href="{{ url_for('collection') }}">Go back</a></li>
                    </div> 
                    <br>
            </div>
        </div>
        <div class="drills split right">
            <div class="drill-name">
                <div class="inputBox">
                    <textarea type="text" rows="15" cols="40" name="description" minlength="10" maxlength="1000" readonly>
                        
                        {{data[2]}}

                    </textarea>
                    </div>
                    <br>
                    <br>
                    <div class="inputBox">
                        <textarea type="text" rows="15" cols="40" name="description" minlength="10" maxlength="1000" readonly>
                           
                            {{data[3]}}

                        </textarea>
                    </div>
            </div>
        </div>  
        <div class="drills split right media">
            <div class="drill-name">
                    <div class="inputBox">
                        <iframe width="300" height="200"
                        src="{{data[4]}}">
                        </iframe>
                        <br>
                    </div>
                    <br>
                    <br>
            </div>
            
        </div>
        {% endfor %}
</div>

{% endblock content %} 